<a href="https://colab.research.google.com/github/Fis428/PC03/blob/main/EX03_01_%E5%85%AC%E5%8F%B8%E8%96%AA%E8%B3%87%E6%A6%82%E6%B3%81%E2%85%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = {
    'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Helen', 'Ivy', 'Jack'],
    'Age': [25, 30, 35, 40, 22, 29, 38, 27, 33, 31],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Salary': [50000, 60000, 75000, 80000, 45000, 62000, 72000, 58000, 69000, 71000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing', 'IT', 'HR', 'Finance', 'Marketing', 'IT', 'Finance']
}
df = pd.DataFrame(data)

# 顯示 DataFrame
print("完整資料：")
print(df)

# 1. 取得 Name 和 Salary 兩欄資料
print("\nName 和 Salary 欄位：")
print(df[['Name', 'Salary']])

# 2. 取出索引值 5 到 8 共 4 筆資料
print("\n索引值 5 到 8 的資料：")
print(df.iloc[5:9])

# 3. 找出年齡和薪水都高於平均值的人員
avg_age = df['Age'].mean()
avg_salary = df['Salary'].mean()
high_age_salary = df[(df['Age'] > avg_age) & (df['Salary'] > avg_salary)]
print("\n年齡和薪水都高於平均值的人員：")
print(high_age_salary)

# 4. 公司人員的平均薪水、最高薪水、最低薪水、中位數
avg_salary_val = df['Salary'].mean()
max_salary = df['Salary'].max()
min_salary = df['Salary'].min()
median_salary = df['Salary'].median()

print("\n公司人員薪資統計：")
print(f"平均薪水：{avg_salary_val}")
print(f"最高薪水：{max_salary}")
print(f"最低薪水：{min_salary}")
print(f"薪資中位數：{median_salary}")

# 5. 公司共有幾個部門？那個部門薪水最高？那個部門最年輕？
departments = df['Department'].nunique()
highest_salary_department = df.groupby('Department')['Salary'].mean().idxmax()
youngest_department = df.groupby('Department')['Age'].mean().idxmin()

print("\n部門資訊：")
print(f"公司共有 {departments} 個部門")
print(f"薪水最高的部門是：{highest_salary_department}")
print(f"最年輕的部門是：{youngest_department}")

# 6. 年齡是否與薪資有關？
correlation = df['Age'].corr(df['Salary'])
print("\n年齡與薪資的相關係數：")
print(correlation)

完整資料：
    ID     Name  Age          City  Salary Department
0  101    Alice   25      New York   50000         IT
1  102      Bob   30   Los Angeles   60000         HR
2  103  Charlie   35       Chicago   75000    Finance
3  104    David   40       Houston   80000  Marketing
4  105      Eve   22       Phoenix   45000         IT
5  106    Frank   29  Philadelphia   62000         HR
6  107    Grace   38   San Antonio   72000    Finance
7  108    Helen   27     San Diego   58000  Marketing
8  109      Ivy   33        Dallas   69000         IT
9  110     Jack   31      San Jose   71000    Finance

Name 和 Salary 欄位：
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   75000
3    David   80000
4      Eve   45000
5    Frank   62000
6    Grace   72000
7    Helen   58000
8      Ivy   69000
9     Jack   71000

索引值 5 到 8 的資料：
    ID   Name  Age          City  Salary Department
5  106  Frank   29  Philadelphia   62000         HR
6  107  Grace   38   San Antonio   72000    Finance
7  108  Helen   27     San Diego   58000  Marketing
8  109    Ivy   33        Dallas   69000         IT

年齡和薪水都高於平均值的人員：
    ID     Name  Age         City  Salary Department
2  103  Charlie   35      Chicago   75000    Finance
3  104    David   40      Houston   80000  Marketing
6  107    Grace   38  San Antonio   72000    Finance
8  109      Ivy   33       Dallas   69000         IT

公司人員薪資統計：
平均薪水：64200.0
最高薪水：80000
最低薪水：45000
薪資中位數：65500.0

部門資訊：
公司共有 4 個部門
薪水最高的部門是：Finance
最年輕的部門是：IT

年齡與薪資的相關係數：
0.9493437326505051